*.env*
**.md**
**README.md**
**.log**
**.DS_Store**
**.gitignore**
**.dockerignore**

**dist**
**node_modules**

.git
.gitattributes
.prettierrc
.prettierignore
.npmrc
.commitlintrc.json
Makefile

docs
.github
.vscode